{% extends "base.html" %}

{% block title %} Список зарезервованих книг {% endblock %}

{% block content %}
{% if error %}
<b>Виникла помилка:</b><br>{{error}}<br><br><br>
{% endif %}

<b>Список зарезервованих книг:</b><br><br>
<table>
    <thead>
    <tr>
        <th>Автор(и)</th>
        <th>Назва</th>
        <th>Відмовитися від резервування?</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <form method="POST" action="/books/booking_reject/{{book.book.pk}}/">
                {% csrf_token %}
                <td>{{ book.book.author }}</td>
                <td>{{ book.book.title }}</td>
                <td><input type="submit" value="Відмовитися"></td>
            </form>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}