{% extends "base.html" %}

{% block title %} Список непрочитаних книг {% endblock %}

{% block content %}
{% if error %}
<b>Виникла помилка:</b><br>{{error}}<br><br><br>
{% endif %}

<b>Список не прочитаних книг в бібліотеці:</b><br><br>
<table>
    <thead>
    <tr>
        <th>Автор(и)</th>
        <th>Назва</th>
        <th>Зарезервувати для читання?</th>
    </tr>
    </thead>
    <tbody>
    {% for pk, user_id, author, title, can_booking in page_obj %}
    <tr>
            <form method="POST" action="/books/{{pk}}/">
                {% csrf_token %}
                <td>{{ author }}</td>
                <td>{{ title }}</td>
                {% if can_booking == "yes" %}
                    <td><input type="submit" value="Зарезервувати для читання"> </td>
                {% else %}
                    <td>Немає в наявності</td>
                {% endif %}
            </form>
    <tr>
    {% endfor %}
    </tbody>
</table>

{% if page_obj.has_previous %}
    <a href="?page=1">First</a>&emsp;
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>&emsp;
{% else %}
    First &emsp; Previous&emsp;
{% endif %}
<a> < Page {{page_obj.number}} of {{page_obj.paginator.num_pages}} > </a>&emsp;
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>&emsp;
    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% else %}
    Next &emsp; Last
{% endif %}

{% endblock content %}
