{% extends "panel_base.html" %}

{% block title %} Запити на отримання книг {% endblock %}

{% block content %}
{% if error %}
<b>Виникла помилка:</b><br>{{error}}<br><br><br>
{% endif %}

<b>Список запитів на отримання книг:</b><br>
<table>
    <thead>
    <tr>
        <th>Автор(и)</th>
        <th>Назва</th>
        <th>Видати книгу</th>
    </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <form method="POST" action="/panel/books/give/{{book.book_id}}/{{book.user_id}}/">
                {% csrf_token %}
                <td>{{ book.book.author }}</td>
                <td>{{ book.book.title }}</td>
                <td><input type="submit" value="Видати книгу"></td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}