{% extends "panel_base.html" %}

{% block title %} Список вільних книг{% endblock %}

{% block content %}
{% if error %}
<b>Виникла помилка:</b><br>{{error}}<br><br><br>
{% endif %}

<b>Список вільних книг у бібліотеці:</b><br>
<table>
    <thead>
    <tr>
        <th>Автор(и)</th>
        <th>Назва</th>
        <th>Всього</th>
        <th>Вільно</th>
    </tr>
    </thead>
    <tbody>
        {% for pk, author, title, all_count, free_count, users_use in page_obj %}
        <tr>
            <td>{{ author }}</td>
            <td>{{ title }}</td>
            <td>{{ all_count }}</td>
            <td>{{ free_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if page_obj.has_previous %}
    <a href="?page=1">First</a>&emsp;
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>&emsp;
{% else %}
    First &emsp; Previous&emsp;
{% endif %}
<a> < Page {{page_obj.number}} of {{page_obj.paginator.num_pages}} > </a>&emsp;
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>&emsp;
    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% else %}
    Next &emsp; Last
{% endif %}

{% endblock content %}